---
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    <img src="{{ page.featured_image }}" alt="{{ page.title }}">
    <h1>{{ page.title }}</h1>
    <p>{{ page.artist_statement }}  </p>
    <div>{{ content }}</div>

    {% if page.project_link %}
      <a href="{{ page.project_link }}">
        <button><i class="fa fa-{{ page.button_icon }}"></i> {{ page.button_text }}</button>
      </a>
    {% endif %}
    <div class="album-grid">
        {% for filename in page.images %}
          <div class="album-item">
            <img src="{{ page.image_folder }}{{ filename }}" alt="{{ filename | split: '.' | first }}" />
          </div>
        {% endfor %}
      </div>
  </main>
  {% include footer.html %}
</body>
</html>
